@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin center-margin($container-width, $container-height: null) {
  width: $container-width;
  height: $container-height;
  margin-left: auto;
  margin-right: auto;
}
