$main-font: Helvetica, Arial, sans-serif;
$link-font: Roboto, sans-serif;
$quotes-font: 'Old Standard TT', serif;
$main-font-color: #1e1e2a;
$main-font-light-color: #666;

$primary-color: #df2f2f;
$footer-background-color: #171717;
$footer-background-dark-color: #1e1e2a;
$footer-font-color: #c2c2c2;

// Media queries
$sm-viewport: 48em;
$md-viewport: 64em;
$lg-viewport: 75em;
