$main-font: Helvetica, Arial, sans-serif;
$link-font: Roboto, sans-serif;
$quotes-font: 'Old Standard TT', serif;
$main-font-color: #1e1e2a;
$main-font-light-color: #666;

$primary-color: #df2f2f;
$light-grey: #aaa;

$footer-background-color: #171717;
$footer-background-dark-color: #1e1e2a;
$footer-font-color: #c2c2c2;

// Media queries
$sm-viewport: 48em;
$md-viewport: 64em;
$lg-viewport: 75em;

// Components variables
$service-card-width: 18rem;
$service-card-height: 18rem;

$box-shadow: 0 1px 4px rgba(#000, 0.3);
$box-shadow-deeper: 1px 2px 6px rgba(#000, 0.3);
