@import "base";

* {
  padding: 0;
  margin: 0;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-family: $main-font;
  color: $main-font-color;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: $md-viewport) {
  .container {
    width: 85%;
  }
}

.no-gutters {
  margin: 0;
  & > * {
    margin: 0;
    padding: 0;
  }
}

.cols-fixed > * {
  flex: initial;
}

@import "sections";
@import "quote";
@import "header";
@import "slideshow";
@import "gallery";
@import "footer";
@import "breadcrumb";
@import "buttons";
@import "contact";
@import "team";
@import "service-card";
