.article-img {
  @include center-margin(88%, auto);
}

.about-us-article + .about-us-article {
  margin-top: 4rem;
}

.about-us-article {
  div.container {
    color: #666;
    font-size: 1.1rem;
    text-align: justify;
  }
}
