section {
  p {
    color: $main-font-light-color;
    font-size: 1.1rem;
  }
}

.about {
  margin-top: 4rem !important;
}

.about-content {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
