$bg-scaling-duration: 10s;

.slider {
  position: relative;
  overflow: hidden;
  @include size(100%, 100vh);
}

.slide {
  @include size(100%, 100%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-img {
  @include size(100%, 100%);
  background-size: cover;
  background-position: center center;
}

.current {
  opacity: 1;
  .slide-img {
    animation: bg-scaling $bg-scaling-duration ease-out both;
  }
  .slide-text {
    opacity: 1;
    transform: translateX(550px);
  }
}

.slide-text {
  position: absolute;
  bottom: 70px;
  width: 550px;
  left: -550px;
  background-color: rgba(255, 255, 255, 0.8);
  color: $main-font-color;
  padding: 1.5rem;
  opacity: 0;
  transition: all 0.7s ease-in-out 0.3s;
  h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

button#prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

button#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.slider-button {
  @include size(50px, 50px);
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: $main-font-color;
  }
  i {
    color: inherit;
  }
}

@media screen and (max-width: $sm-viewport) {
  .slide-text {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .current {
    .slide-text {
      transform: translateY(-300px);
    }
  }
}

// Slides Images
.slide:nth-child(1) .slide-img {
  background-image: url(/img/slider/1m.jpg);
}

.slide:nth-child(2) .slide-img {
  background-image: url(/img/slider/2m.jpg);
}
.slide:nth-child(3) .slide-img {
  background-image: url(/img/slider/3m.jpg);
}

@media screen and (min-width: $sm-viewport) {
  .slide:nth-child(1) .slide-img {
    background-image: url(/img/slider/1.jpg);
  }

  .slide:nth-child(2) .slide-img {
    background-image: url(/img/slider/2.jpg);
  }
  .slide:nth-child(3) .slide-img {
    background-image: url(/img/slider/3.jpg);
  }
}

@keyframes bg-scaling {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }
  100% {
    transform: scale(1.2) translateY(15px);
    transform-origin: bottom;
  }
}

.animation-paused {
  animation-play-state: paused !important;
}
