/* Icon Pop */
@keyframes icon-pop {
  50% {
    transform: scale(1.3);
  }
}
.icon-pop {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
}
.icon-pop .svg-left,
.icon-pop .svg-right {
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.icon-pop:hover .svg-left,
.icon-pop:focus .svg-left,
.icon-pop:active .svg-left,
.icon-pop:hover .svg-right,
.icon-pop:focus .svg-right,
.icon-pop:active .svg-right {
  animation-name: icon-pop;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes bg-scaling {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 84%;
  }
  100% {
    transform: scale(1.2) translateY(15px);
    transform-origin: bottom;
  }
}
