body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.svg,
.svg-icon,
.svg-left,
.svg-right {
  vertical-align: middle;
  display: inline;
  text-align: center;
}

.svg-left {
  margin-right: 0.3rem;
}

.svg-right {
  margin-left: 0.3rem;
}

.svg-icon {
  margin-right: 0.3rem;
}

section {
  margin-top: 4rem;
}

section:first-of-type {
  margin-top: 125px;
}

section:last-child {
  margin-bottom: 4rem;
}
