body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.svg,
.svg-icon {
  vertical-align: middle;
  display: inline;
  text-align: center;
}

.svg-icon {
  margin-right: 0.3rem;
}
