.container {
  @include center-margin(90%);
}

@media all and (min-width: $md-viewport) {
  .container {
    width: 85%;
  }
}

.no-gutters {
  margin: 0;
  & > * {
    margin: 0;
    padding: 0;
  }
}

.cols-fixed > * {
  flex: initial;
}

.align-center {
  text-align: center;
}
