.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: $md-viewport) {
  .container {
    width: 85%;
  }
}

.no-gutters {
  margin: 0;
  & > * {
    margin: 0;
    padding: 0;
  }
}

.cols-fixed > * {
  flex: initial;
}

.p {
  text-align: justify;
  &::first-letter {
    margin-left: 2rem;
  }
}
