html {
  font-family: $main-font;
  color: $main-font-color;
}

.p {
  text-align: justify;
  &::first-letter {
    margin-left: 2rem;
  }
}

@media (min-width: $lg-viewport) {
  html {
    font-size: 18px;
  }
}

.section-title-container {
  text-align: center;
  margin-bottom: 2.5rem;
}

.section-subtitle {
  padding-left: 4%;
  padding-right: 4%;
}

.section-title {
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.article-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 0.8rem;
}
