$border-radius: 3px;
$timing-1: 0.4s 0.15s;
$timing-2: 0.5s 0.25s;

$m-card-width: 19rem;
$m-card-height: 19rem;
$m-card-thumbnail-height: 13.5rem;

.m-card {
  @include size($m-card-width, $m-card-height);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;
  margin: 2rem;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $primary-color;
  }
}

.m-card-thumbnail {
  @include size($m-card-width, $m-card-thumbnail-height);
  background-position: center;
  background-size: cover;
  border-radius: $border-radius;
}

.m-card-info {
  @include size(auto, $m-card-height);
  position: relative;
  padding: 14px 1rem;
  transition: all $timing-1;
  background-color: #fff;
}

.m-card-title {
  position: relative;
  margin: 8px 0;
  color: $main-font-color;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: 0 0 0px lighten($main-font-color, 20);
}
.m-card-date,
.m-card-time,
.m-card-location {
  margin-bottom: 0.4rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  color: $main-font-light-color;
}
.m-card-date,
.m-card-time {
  margin-right: 0.4rem;
  display: inline-block;
}
.m-card-location {
  display: inline-block;
  opacity: 0;
  transition: $timing-2;
}
.txt {
  text-align: justify;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-top: 1px solid rgba($main-font-light-color, 0.4);
  font-size: 0.95rem;
  opacity: 0;
  transition: $timing-2;
}
.markdown p {
  font-size: 0.95rem;
  text-align: initial;
}

.m-card-link {
  letter-spacing: 1px;
  font-weight: bold;
  color: $primary-color;
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0;
  transition: $timing-2;
  cursor: pointer;
}

.m-card:hover .m-card-info {
  transform: translateY(-$m-card-thumbnail-height);
  .m-card-time,
  .m-card-location,
  .txt,
  .m-card-link {
    opacity: 1;
  }
}

@media screen and (max-width: $sm-viewport) {
  .m-card[data-aos-delay] {
    transition-delay: 0s !important;
  }
}
