$bg-scaling-duration: 10s;

// Fixing vieports units on mobile bug
.slider {
  position: relative;
  overflow: hidden;
  @include size(100%, 100vh);
}

.slide {
  @include size(100%, 100%);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.slide-img {
  @include size(100%, 100%);
  background-size: cover;
  background-position: center center;
}

.current {
  opacity: 1;
  .slide-img {
    animation: bg-scaling $bg-scaling-duration ease-out both;
  }
  .slide-text {
    opacity: 1;
    transform: translateY(-300px);
  }
}

.slide-text {
  position: absolute;
  bottom: -300px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: $main-font-color;
  opacity: 0;
  transition: all 0.7s ease-in-out 0.3s;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.1rem;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: normal;
  }
  h4 {
    font-size: 1.2rem;
    font-style: italic;
    font-weight: normal;
  }
}

#prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.slider-button {
  @include size(50px, 50px);
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    .svg {
      filter: invert(1);
    }
  }
}

@media screen and (min-width: $sm-viewport) {
  .slider {
    height: 100vh;
  }
  .slide-text {
    bottom: 55px;
    width: 550px;
    left: -550px;
    padding: 0.8rem 1.5rem;
    h2 {
      font-size: 1.85rem;
    }
  }
  .current {
    .slide-text {
      transform: translateX(550px);
    }
  }
}
