$team-card-bg-color: #efefef;

.team-card {
  width: 13.5rem;
  background-color: $team-card-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  margin: 2rem;
  box-shadow: $box-shadow;
  transition: 0.2s;
  h4 {
    font-size: 1.3rem;
    color: #333333;
  }
}

.team-card:hover {
  box-shadow: $box-shadow-deeper;
}

.card-img {
  height: 9rem;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.profile-img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -7.2rem;
  z-index: 2;
  border: 0.35rem solid $team-card-bg-color;
}

.job-title {
  color: #777777;
  font-size: 1.05rem;
}

@media screen and (max-width: $sm-viewport) {
  .team-card[data-aos-delay] {
    transition-delay: 0s !important;
  }
}
